![New York City schoolbus](schoolbus.jpg)

Photo by [Jannis Lucas](https://unsplash.com/@jannis_lucas) on [Unsplash](https://unsplash.com).
<br>

Every year, American high school students take SATs, which are standardized tests intended to measure literacy, numeracy, and writing skills. There are three sections - reading, math, and writing, each with a **maximum score of 800 points**. These tests are extremely important for students and colleges, as they play a pivotal role in the admissions process.

Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend. 

You have been provided with a dataset called `schools.csv`, which is previewed below.

You have been tasked with answering three key questions about New York City (NYC) public school SAT performance.

In [22]:
# Re-run this cell 
import pandas as pd

# Read in the data
schools = pd.read_csv("schools.csv")

# Preview the data
schools.head()

# Start coding here...
# Add as many cells as you like...


# Calculation of the best math results in NYC schools
# Calculate 80% of 800 to identify best math schools
best_math_school_scores = 0.8 * 800
print(best_math_school_scores)

# Sorting average_math in descending order
sort_schools = schools.sort_values("average_math", ascending=False)
sort_schools.head()

# Subsetting best_math_schools, including "school_name" and "average_math" columns sorted in descending order
best_math_schools = sort_schools[sort_schools["average_math"] >= 640][["school_name", "average_math"]]
best_math_schools.head()
print(best_math_schools)

# Calculation of the top 10 performing schools based on the combined SAT scores
# Add a new column with the name of total_SAT
schools["total_SAT"] = schools["average_math"] + schools["average_reading"] + schools["average_writing"]
schools.head()

# Sort schools based on total_SAT in descending order
schools_sort = schools.sort_values(by = "total_SAT", ascending=False)

# Save the result as pandas DataFrame called top_10_schools containing the school_name and total_SAT with sorting in descending order
top_10_schools = schools_sort.iloc[0:10, [schools_sort.columns.get_loc("school_name"), schools_sort.columns.get_loc("total_SAT")]]
top_10_schools.head()
print(top_10_schools)


# Calculate the single borough has the largest standard deviation in the combined SAT score
schools.head()
borough_std = schools.groupby("borough")["total_SAT"].std()
print(borough_std)

# Identify the borough with the largest standard deviation
largest_std_borough = borough_std.idxmax()
print(f"The borough with the largest standard deviation in total SAT scores is: {largest_std_borough}")

# The number of schools in the borough with largest standard deviation
num_schools_largest_std_borough = schools[schools["borough"] == largest_std_borough].shape[0]
print(f"The number of schools in the borough with the largest standard deviation is: {num_schools_largest_std_borough}")

# Average SAT of schools in the borough with largest standard deviation
borough_avg = schools.groupby("borough")["total_SAT"].mean()
print(f"The average SAT in the borough with the largest standard deviation is: {borough_avg[largest_std_borough]}")

# Save your results as panda DataFrame called largest_std_dev
largest_std_dev = pd.DataFrame({
    "borough" : ["Manhattan"],
    "num_schools" : [89],
    "average_SAT" : [1340.13],
    "std_SAT" : [230.29]
})
print(largest_std_dev)

640.0
                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683
280                     Brooklyn Technical High School           682
333                        Townsend Harris High School           680
174  High School of American Studies at Lehman College           669
0    New Explorations into Science, Technology and ...           657
45                       Eleanor Roosevelt High School           641
                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
45                       Eleanor Roosevelt High School       1889
68   High School for Mathematics, Science, and Engi...       1889
borough
Bronx            150.393901
Brooklyn         154.868427
Manhattan        230.294140
Queens           195.252899
Staten Island    222.303596
Name: total_SAT, dtype: float64
The borough with the largest standard deviation in total SAT scores is: Manhattan
The number of schools in the borough with the largest standard deviation is: 89
The average SAT in the borough with the largest standard deviation is: 1340.1348314606741
     borough  num_schools  average_SAT  std_SAT
0  Manhattan           89      1340.13   230.29